---
title: Duved
---

<header class="fixed hide">
	<div class="container">
		<%= partial "navbar" %>
	</div>
</header>

<div class="wrapper">
	<div class="scroll-image-placeholder first"></div>

	<section id="one" class="first">
		<header>
			<div class="container">
				<%= partial "navbar" %>
			</div>
		</header>
		<div class="container">
			<h1>One</h1>
			<p>
				<%= lorem.paragraphs 2 %>
			</p>
			<p>
				<%= lorem.paragraphs 1 %>
			</p>
		</div>
	</section>

	<div class="scroll-image-placeholder indoors"></div>

	<section id="two">
		<div class="container">
			<h1>Two</h1>
			<p>
				<%= lorem.paragraphs 3 %>
			</p>
		</div>

		<div class="test"></div>

	</section>


	<div class="scroll-image-placeholder outdoors"></div>

	<section id="three">
		<div class="container">
			<h1>Three</h1>
			<p>
				<%= lorem.paragraphs 1 %>
			</p>
		</div>
	</section>



	<footer>
		<div class="container">
			<%= partial "navbar" %>
		</div>
	</footer>
</div>