---
title: Duved
---
<header class="fixed hide">
	<div class="container">
		<%= partial "navbar" %>
	</div>
	<div class="enable-nav mobile-only">
		<div></div><div></div><div></div><div></div>
	</div>
</header>
<div class="wrapper">
	<div class="scroll-image-placeholder first"></div>
	<section id="duved" class="first">
		<header>
			<div class="container">
				<%= partial "navbar" %>
			</div>
		</header>
		<div class="container">
			<h1>Duved</h1>
			<p>
				Duved är en mysig genuin jämtländsk by 8 km väster om Åre centrum. Här är det lite lugnare tempo än i hektiska Åre. Allt man behöver finns inom gångavstånd - matbutik, restauranger och skiduthyrning. Järnvägen ligger också på gångavstånd, det är perfekt att ta sig hit med tåg!
			</p>
			 <p>
				Duved och Tegefjälls liftsytem är sammanbyggda och backarna är roliga både för barn och vuxna. Skidbussarna går regelbundet till Rödkullen, centrala Åre och Björnen.
			</p>
			<p>
				Info om pistsystem och skidbussar, se <a href="http://skistar.com/sv/Are/Skidakning/" target="_blank">http://skistar.com/sv/Are/Skidakning/</a>
			</p>
			<p>
				I Duved finns välpreparerade spår för längdåkning och du kan välja att åka 1.5, 2.5, 5, 7, 10 eller 15 km, varav 1.5, 2.5, 5 och 7 km har elbelysning 07:00-22:00
			</p>
			<p>
				Se <a href="http://arecrosscountry.com/" target="_blank">http://arecrosscountry.com/</a> för spårstatus.
			</p>
		</div>
		<div class="image-viewer"></div>
	</section>
	<div class="scroll-image-placeholder second"></div>
	<section id="stugan">
		<div class="container">
			<h1>Stugan</h1>
 			<p>
				Vi hyr ut vårt fina välutrustade parhus, byggår 2011, som ligger på Sesselvägen i området "Duveds skidparadis". Här bor du bekvämt med spårcentralen alldeles intill.
			</p>
			<p>
				Till Duveds pistsystem är det också nära. Ca 200 m gångavstånd till lift eller ca 40 m till transportväg, varifrån du glidandes på skidorna kan ta dig ner till liften.
			</p>
			<p>
				Skidbussarna till Åre går ca 300 m från huset. Till bussarna kan du också ta dig via transportvägen och åka sista biten i barnbacken vid byliften.
			</p>
			<p>
				Stugan har uppvärmt vallarum med vallabänk för din skidvård!
			</p>
			<p>
				I stugan finns det plats för 6 personer. Det finns tre sovrum: en med dubbelsäng och två med våningssängar.
			</p>
			<p>
				Köket är välutrustat med kyl/frys, diskmaskin, spis/ugn, micro, vattenkokare och kaffebryggare.
			Matbordet har plats för 6 personer.
			</p>
			<p> 
				Hygienutrymmena består av badrum med dusch, toalett och bastu samt en separat toalett.
			</p>
			<p>
				I stugan finns det tvättmöjligheter - tvättmaskin och torkskåp.
			Det finns också skotork.
			</p>
		</div>
		<div class="image-viewer one"></div>
		<div class="image-viewer two"></div>
		<div class="image-viewer three"></div>
	</section>
	<div class="scroll-image-placeholder third"></div>
	<section id="uthyrning">
		<div class="container">
			<h1>Uthyrning</h1>
			<p>
				Åldersgräns för att hyra är 25 år.
			</p>
			<p>
				Stugan är rök- och djurfri, dock inte allergisanerad.
			</p>
			<p>
				Städning ingår inte men kan köpas till vid behov.
			</p>
			<p>
				Hyresgästen lägger ut en depositionsavgift på 1000 kr som återbetalas efter att bostaden kontrollerats och städning godkänts.
			</p>
			<p>
				Uthyrningsperioden är söndag-söndag och följande priser gäller för vintersäsongen 2014:
			</p>
			<table>
				<thead>
					<tr>
						<td>Vecka</td>
						<td>Pris</td>
						<td>Status</td>
					</tr>
				</thead>
				<tbody>
					<% data.rental.weeks.each do |week| %>
						<tr>
							<td><%= week[0] %></td>
							<td><%= week[1] %> kr</td>
							<td><%= week[2] %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</section>
	<div class="scroll-image-placeholder fourth"></div>
	<section id="kontakt">
		<div class="container">
			<h1>Kontakt</h1>
			<p>
				Kristina Sivula<br>
				<a href="mailto:kristina.sivula@telia.com">kristina.sivula@telia.com</a><br>
				070 - 224 22 89
			</p>
		</div>
	</section>
	<footer>
		<div class="container">
			<%= partial "navbar" %>
			<span>
				<a href="mailto:kristina.sivula@telia.com">kristina.sivula@telia.com</a>
			</span>
		</div>
	</footer>
</div>