---
title: Duved
---



<header class="fixed hide">
	<div class="container">
		<nav>
			<ul>
				<li class="active"><a href="#" class="active">Start</a></li>
				<li><a href="#">Bilder</a></li>
				<li><a href="#">Annat</a></li>
			</ul>
		</nav>
	</div>
</header>

<div class="wrapper">
	<div class="section-image first"></div>

	<section class="first">
		<header>
			<div class="container">
				<nav>
					<ul>
						<li class="active"><a href="#" class="active">Start</a></li>
						<li><a href="#">Bilder</a></li>
						<li><a href="#">Annat</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="container">
			<h1><%= lorem.words 3 %></h1>
			<p>
				<%= lorem.paragraphs 2 %>
			</p>
			<p>
				<%= lorem.paragraphs 1 %>
			</p>
		</div>
	</section>

	<div class="section-image"></div>

	<section>
		<div class="container">
			<h1><%= lorem.words 3 %></h1>
			<p>
				<%= lorem.paragraphs 3 %>
			</p>
		</div>
	</section>

	<div class="section-image"></div>

	<section>
		<div class="container">
			<h1><%= lorem.words 3 %></h1>
			<p>
				<%= lorem.paragraphs 1 %>
			</p>
		</div>
	</section>



	<footer>
		<div class="container">
			footer
		</div>
	</footer>
</div>